.label {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border: 1px solid black;
}

.labelFilled {
  padding: 0;
}

.label input {
  display: none;
}